@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navbar {
  font-family: "Montserrat", sans-serif;
  background-color: #151634;
}
.home {
  background-color: #2d3649;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.homemain {
  width: "100%";
  height: 100vh;
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.main {
  width: "100%";
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.common {
  height: 200vh;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #2d3649;
}
.temp {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #2d3649;
}
.link {
  color: yellow;
}
.link--active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom 0.5s ease-in-out;
}
.sbox {
  border-radius: 10px;
  background-color: white;
}
.sbox:hover {
  transform: scale(1.1);
}
.helpercard {
  background-color: #2d3649;
}
